<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="nopCommerce Automation Suite" verbose="2">

    <test name="Workflow 1 - Registration and Login">
        <classes>
            <class name="tests.RegistrationTest"/>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Workflow 2 - Search and Cart">
        <classes>
            <class name="tests.SearchTest"/>
            <class name="tests.CartTest"/>
        </classes>
    </test>

</suite>
